<!DOCTYPE html>
<html ng-app="BenNeHaltEttim">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Hopes &amp; Regrets</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="assets/styles/style.css" />
        <link href="./assets/images/apple-touch-icon.png" rel="apple-touch-icon" />
        <link href="./assets/images/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    </head>
    <body ng-controller="bnheSystemCtrl">
        <!-- Page Wrapper -->
        <div id="wrapper" class="page-wrap" ng-class="{'pushed': settings.pushed}">
            <!-- Header -->
            <div ng-include src="'assets/templates/layout/header.tpl'"></div>

            <!-- Main Content -->
            <div id="main" class="page-content" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
                <div ng-show="settings.show_content" ng-view></div>
            </div>

            <!-- Notification -->
            <div class="notification">
                <div class="push-notification">
                    <p>Himm. It seems like Gold may be a good invesment in the future. Would you like to check <strong style="color: goldenrod">Gold</strong> market?</p>
                    <a href="#" target="_blank" ng-click="settings.pushed = false" class="primary-action">Let me see</a>
                    <a ng-click="settings.pushed = false" class="button">Nothing to see</a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include src="'assets/templates/layout/footer.tpl'"></div>

        <!-- App Script -->
        <script src="assets/scripts/main.min.js"></script>
        <script>
            $(function(){
                $(document).on('blur', 'input, textarea', function() {
                    setTimeout(function() {
                        window.scrollTo(document.body.scrollLeft, document.body.scrollTop);
                    }, 0);
                });
            });
        </script>
    </body>
</html>